* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Itim", cursive;
}
#home {
  width: 100%;
  height: 100vh;
  background-image: url("flower.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h2 {
  font-size: 70px;
  color: white;
}
span {
  color: rgb(255, 0, 119);
}
#home button {
  color: rgba(255, 0, 119);
  outline: none;
  padding: 10px 20px;
  border: 2px solid rgb(255, 0, 119);
  border-radius: 0px 20px;
  transition: all 0.3s;
}
#home button:hover {
  color: white;
  background-color: rgb(255, 0, 119);
}
.sectionTwo-content {
  background: rgba(255, 0, 119) /*rgba(255, 0, 119, 0.4)*/;
  text-align: center;
  padding-top: 30px;
}
.sectionTwo-content h2 {
  font-size: 60px;
  color: white;
}
.sectionTwo-content p {
  margin: 5px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.wrapper {
  width: 400px;
  height: 220px;
  background-color: white /*rgba(255, 0, 119)*/;
  margin: 70px 16px;
  padding: 20px 15px;
  flex-direction: row;
  transition: 0.3s linear;
}
.wrapper:hover {
  height: 434px;
}
.wrapper .img-wrap {
  position: relative;
  width: 360px;
  height: 260px;
  top: -50px;
  z-index: 1;
  left: 19.2px;
}
.wrapper .img-wrap img {
  object-fit: cover;
}
.wrapper .content {
  position: relative;
  padding: 10px 15px;
  margin-top: -140px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}
h3 {
  font-size: 30px;
  color: rgba(255, 0, 119);
  margin-bottom: 10px;
}
.wrapper button {
  border: 2px solid white;
  border-radius: 0px 20px;
  color: white;
  padding: 7px 22px;
  margin-top: 20px;
  background-color: transparent;
  outline: none;
}
.wrapper button span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.wrapper:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -90px;
  transition-delay: 0.3s;
}
.content span {
  font-size: 24px;
  color: rgba(255, 0, 119);
}

footer p {
  text-align: center;
  font-size: 22px;
  padding: 17px 0;
  font-size: 15px;
  font-weight: bold;
  color: rgba(255, 0, 119);
}

/*media Screen*/

@media all and (max-width: 650px) {
  #home {
    object-fit: cover;
  }
  #home h2 {
    font-size: 60px;
  }
  .wrapper {
    width: 280px;
    margin: 60px 0px;
    padding: 5px;
  }

  .wrapper .img-wrap {
    position: relative;
    width: 269px;
    height: 220px;
    top: -38px;
    z-index: 1;
    left: 3.81px;
  }
  .wrapper img {
    width: 237px;
    height: 172px;
    object-fit: cover;
  }
  .sectionTwo-content h2 {
    font-size: 37px;
  }
  .sectionTwo-content p {
    font-size: 14px;
    margin: 0px 15px;
  }
}
